.slick-prev, .slick-next {
    z-index: 1;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slick-prev {
    left: -40px;
}


.slick-next {
    right: -40px;
}


.slick-prev img, .slick-next img {
    width: 100%;
    height: auto;
}


.slick-prev:before, .slick-next:before {
    display: none;
}




.slick-next {
    right: -60px;
}


.slider-item {
    padding: 10px;
    text-align: center;
}


.serviceImage {
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: contain;
    border: 15px solid blue;
    border-radius: 15px;
}


.serviceName {
   
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: blue;
}


.serviceDescription {
   
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}




.btnConfirm {
    background-color: rgb(13, 165, 13);
    color: white;
    border: none;
    padding: 10px 10px;
    margin-bottom: 80px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 30px;
    width: 100%;
    max-width: 250px;
    font-weight: 1000;
}


.Service {
    color: blue;
    text-align: center;
    margin-bottom: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 50px;
    font-family: sans-serif;
}
