.Header-bar {
  padding-left:5%;
  padding-right: 5%;
  text-align: center;
  background-color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Header-bar ul {
  gap: 50px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.Header-bar li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-bar img {
  margin-left: 75px;
  margin-right: 75px;
}

.Footer {
  padding: 10px;
  background: rgb(190,0,26);
  background: linear-gradient(90deg, rgba(190,0,26,1) 0%, rgba(24,0,58,1) 50%, rgba(19,66,134,1) 100%); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
}

.Social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.SocialImg {
  height: 30px;
  margin-right: 15px;
}