.Home {
  text-align: center;
}

.btnEnquire {
  background: linear-gradient(90deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border-radius: 999px;
  box-shadow: rgba(20,167,62,1) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: calc(fit-content+5px);
  word-break: break-word;
  border: 0;
  margin-top: 50px;
  margin-bottom: 40px;
}

.Banner {
  padding: 20px;
  background: rgb(2,128,252);
  background: linear-gradient(180deg, rgba(2,128,252,1) 0%, rgba(120,209,254,1) 100%); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  max-width: 1920px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.Banner-text {
  padding-top: 150px;
  text-align: center;
  max-width: 50%;
  padding-left: 25px
}

.Banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  flex: 1;
  padding-right: 25px;
}

.Banner-image img {
  max-width: 75%;
  height: auto;
}

.Banner-text p {
  padding-bottom: 100px;
}

.About {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.Location {
  padding-left: 5%;
  padding-right: 5%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.Contact {
  padding-top: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
}

.Contact ul div {
  width: 135px;
}

.Contact ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15%;
}

.Contact li {
  display: flex;
  align-items: center;
  gap: 5%;
  flex: 1 1 300px;
}

.Contact img {
  max-height: 100px;
}

.FAQ {
  text-align: center;
  background-color: #1c6fbd;
  color: white;
  padding: 20px;
  border-radius: 20px;
  max-width: 1000px;
  width: calc(100% - 8%);
  margin: 0 auto;
  overflow: hidden;
}

.FAQ ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #00ffff;
}

.faq-icon {
  transition: transform 0.3s ease-in-out;
}

.faq-icon.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.faq-answer.open {
  max-height: 200px; /* Adjust based on content size */
  opacity: 1;
}


.Services {
  padding: 10px;
  background: rgb(190,0,26);
  background: linear-gradient(90deg, rgba(190,0,26,1) 0%, rgba(24,0,58,1) 50%, rgba(19,66,134,1) 100%); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
}

.Services div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.Services a {
  color: inherit;
  text-decoration: inherit;
}

.Location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.Location-map iframe {
  width: 400px;
  max-width: 400px;
  height: 400px;
  border-radius: 10px;
}

.map-frame {
  width: 400px;
  height: 400px;
  border: 4px solid blue;  
  border-radius: 15px;     
  box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.2);
}

.Location-description {
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 720px) {
  .Location {
      flex-direction: column;
      text-align: center;
  }

  .Location-map iframe {
      width: 100%;
      max-width: 100%;
  }

  .Location-description {
      max-width: 100%;
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Contact ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .Contact li {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
 
}
