@font-face {
  font-family: 'NunitoSans';
  src: url('/src/fonts/NunitoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/fonts/NunitoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
   font-family: 'NunitoSans' !important;
   scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
